<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Ark Map</title>
    <style>
            html, body {
              height: 100%;
              margin: 0;
              padding: 0;
            }
            #map {
              height: 100%;
            }
    </style>
  </head>
  <body>

  <div id="map"></div>
       <script>
      function initMap() {

        var victimCoords = {{victimCoords}}
        var evacCoords = {{evacCoords}}
        
        var latitude = evacCoords[0][0];
        var longitude = evacCoords[0][1];
        var center_coord = {lat: latitude, lng: longitude};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: center_coord
        });
        var marker = new google.maps.Marker({
          position: center_coord,
          map:  map,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });

     for(i=1;i<evacCoords.length;i++){
        var evac_lat = evacCoords[i][0]
        var evac_lng = evacCoords[i][1]

        var location = {lat: evac_lat, lng: evac_lng}
        var marker = new google.maps.Marker({
          position: location,
          map: map,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
       }

      for(i=0;i<victimCoords.length;i++){
        var vic_lat = victimCoords[i][0]
        var vic_lng = victimCoords[i][1]

        var location = {lat: vic_lat, lng: vic_lng}
        var marker = new google.maps.Marker({
          position: location,
          map: map,
          icon: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
        });
       }
     }
  </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANcvGgoQXN-HciSO4oTxZOCMLtr3u2mDo&callback=initMap"
  type="text/javascript"></script>
 </body>
</html>